TEAM MEMBERS: Ashish, Milind, Jui, Sakshi

In [ ]:
from bs4 import BeautifulSoup as soup
from urllib import request
import pandas as pd

mines comments etc

In [ ]:
def comment_miner(url):
  per_page_df= pd.DataFrame(columns = ["Name","Title", "Review", "Rating"])
  # Opening Webpage
  page_open = request.urlopen(url)
  # Loading Webpage
  html_page=page_open.read()
  #Closing the web page
  page_open.close()
  # Parsing Web Page
  parsed_page = soup(html_page,"html.parser")
  full_comment_box = parsed_page.findAll("div",{"class":"_2wrUUKlw _3hFEdNs8"})
  for i in range(len(full_comment_box)):
    name = full_comment_box[i].find("a",{"class":"ui_header_link _1r_My98y"}).text.strip()
    comment = full_comment_box[i].find("q",{"class":"IRsGHoPm"}).text.strip()
    title = full_comment_box[i].find("div",{"class":"glasR4aX"}).text.strip()
    bubble_class = full_comment_box[i].find("div",{"class":"nf9vGX55"})
    bubble_rating = bubble_class.find("span",{"class":"ui_bubble_rating"}).get("class")[1][7]
    per_page_df=per_page_df.append({"Name": name,"Title": title, "Review": comment, "Rating": bubble_rating},ignore_index=True)
  return per_page_df

goes to every comment inside one hotel

In [ ]:
def comment_url_creater(main_url):
  #Creating a dataframe of review links for the hotel
  # Opening Webpage
  page_open = request.urlopen(main_url)
  # Loading Webpage
  html_page=page_open.read()
  #Closing the web page
  page_open.close()
  # Parsing Web Page
  parsed_page = soup(html_page,"html.parser")
  last_page = parsed_page.findAll("a",{"class": "pageNum cx_brand_refresh_phase2 "})
  last_page_number = int(last_page[len(last_page)-1].text.strip())
  url_df = pd.DataFrame(columns= {"URL"})
  for i in range(1,last_page_number):
    new_url=main_url.split("Reviews-")[0]+"Reviews-or"+str(i*5)+"-"+main_url.split("Reviews-")[1]
    url_df=url_df.append({"URL":new_url},ignore_index=True)
  return url_df

appends all hotel detail into one data frame (for 1 HOTEL)

In [ ]:
def page(hotel_url):
  comments_url_df = comment_url_creater(hotel_url)
  all_hotel_comments_df= pd.DataFrame(columns = ["Name","Title", "Review", "Rating"])
  for i in range(len(comments_url_df)):
    temp_df=comment_miner(comments_url_df['URL'][i])
    all_hotel_comments_df = all_hotel_comments_df.append(temp_df,ignore_index=True)
  return all_hotel_comments_df

In [ ]:
import time
import random

to give list of url of each hotel on each page

In [ ]:
search_url='https://www.tripadvisor.in/Hotels-g295424-Dubai_Emirate_of_Dubai-Hotels.html'
page_open = request.urlopen(search_url)
html_page=page_open.read()
page_open.close()
parsed_page = soup(html_page,"html.parser")
list_of_hotels= parsed_page.findAll("a",{"class":"pageNum last cx_brand_refresh_phase2"})
last_page_numbers= int(list_of_hotels[len(list_of_hotels)-1].text.strip())
url_dff = pd.DataFrame(columns= {"URL"})
m=pd.DataFrame({"URL":['https://www.tripadvisor.in/Hotels-g295424-Dubai_Emirate_of_Dubai-Hotels.html']})
url_dff=url_dff.append(m)
for i in range(1,last_page_numbers):
  new_urll=search_url.split("g295424-")[0]+"g295424-oa"+str(i*30)+"-"+search_url.split("g295424-")[1]
  url_dff=url_dff.append({"URL":new_urll},ignore_index=True)

In [ ]:
list_of_hotelss = pd.DataFrame(columns= {"URLS:"})
for j in range(len(url_dff)):
  url=url_dff.loc[j,"URL"]
  page_open = request.urlopen(url)
  html_page=page_open.read()
  page_open.close()
  parsed_page = soup(html_page,"html.parser")
  list_of_hotels = parsed_page.findAll("div",{"class":"listing_title"})
  time.sleep(random.randint(2,5))
  for i in range(1,len(list_of_hotels)):
    k=list_of_hotels[i].find("a",{"class":"property_title prominent "}).get("href")
    k1="https://www.tripadvisor.in"+k
    list_of_hotelss=list_of_hotelss.append({"URLS:":k1},ignore_index=True)

In [ ]:
list_of_hotelss

                                                  URLS:
0     https://www.tripadvisor.in/Hotel_Review-g29542...
1     https://www.tripadvisor.in/Hotel_Review-g29542...
2     https://www.tripadvisor.in/Hotel_Review-g29542...
3     https://www.tripadvisor.in/Hotel_Review-g29542...
4     https://www.tripadvisor.in/Hotel_Review-g29542...
...                                                 ...
1273  https://www.tripadvisor.in/Hotel_Review-g29542...
1274  https://www.tripadvisor.in/Hotel_Review-g29542...
1275  https://www.tripadvisor.in/Hotel_Review-g29542...
1276  https://www.tripadvisor.in/Hotel_Review-g26302...
1277  https://www.tripadvisor.in/Hotel_Review-g26302...

[1278 rows x 1 columns]

In [ ]:
for i in range(len(list_of_hotelss)):
#  final_df=page(list_of_hotelss)
  print(i)
  final_df=page(list_of_hotelss.loc[i,"URLS:"])
  print(final_df)

0
                     Name  ... Rating
0         Abegael De Luna  ...      3
1             Abeer Tayel  ...      5
2           Freedom616099  ...      5
3                 Mandi T  ...      5
4           rejoykoithara  ...      5
..                    ...  ...    ...
497    Cosmopolitan645275  ...      5
498  IQ Perfect Shot (UK)  ...      5
499              Andrea A  ...      5
500            Amar Gupta  ...      5
501                  Jo W  ...      3

[502 rows x 4 columns]
1